@import '../../../styles/reset';
@import '../../../styles/general';
@import '../../../styles/mixins';

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 10px;

  &Fixed {
    position: absolute;
  }

  @media screen and (min-width: 767px) {
    grid-template-columns:1fr auto;
    grid-template-rows: auto;
  }
}