@import '../../../styles/reset';
@import '../../../styles/general';
@import '../../../styles/mixins';

.main {
  padding: 20px 0;
}

.pagination {
  border-top: 2px solid $dark-color;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;

  &__arrow,
  &__page {
    display: block;
    width: 20px;
    height: 20px;
  }

  &__arrow {

    &:hover {

      color: $accent-color;
    }
  }

  &__page {
    display: flex;
    @include font-style(20px, normal);
    align-items: center;
    justify-content: center;
  }
}